<div id="position_scroll">
  <div id="corpus">
    <h1>
      Nous réflechissons, nous développons, nous créeons des solutions digital
       <span id="hipconcept">ensemble.</span>
    </h1>
    <p id="texte">
      {{ texte }}
    </p>
    <div id="cont_btn">
      <button id="un">Contactez nous</button
      ><button id="deux">Dévis</button>
    </div>
    <hr />
    <div id="bottom">
        <div id="col">
            <span id="black">2  framework puissants</span><br/>
            <span id="gris">Flutter | NodeJs</span>
        </div>
        <div id="col" class="col">
            <span id="black">3 Langages de programmation</span><br/>
            <span id="gris">Dart | Javascript | Python</span>
        </div>
        <div id="col">
            <span id="black">Fullstack app</span><br/>
            <span id="gris">Desktop | Android | Web</span>
        </div>
    </div>
  </div>
</div>
